.edit-page {
	
}

.edit-page select {
	margin: 0 auto;
	display: block;
	margin-bottom: 30px;
}

.edit-page .delete-button {
	background-color: #f8cf6a;
	margin-top: 40px;
}

.delete-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.list-name-input {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.list-name-input input {
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1.5rem;
	margin-bottom: 25px;
	width: 50%;
}

@media only screen and (max-width: 500px) {
  .list-name-input input {
    width: 80%;
  }
}

.add-button button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 10px;
}

.list-items {
	width: 100%;
	display: flex;
	flex-direction: column;
	
}

.list-items div {
	margin: 5px auto;
	padding: 5px;
	display: flex;
	align-items: center;
}

.list-items input {
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1.5rem;
	width: 100%;
}

.list-items button {
	font-size: 1rem;
	padding: 10px;
	height: 100%;
	background-color: #f8cf6a;
	margin-left: 10px;
}