.generate-page {
	padding: 20px;
	font-size: 1.5rem;
	line-height: 200%;
	display: grid;
	grid-template-columns: auto auto;
}

.content-editable {
	display: inline-block;
	min-width: 1rem;
}

.generate-button {
	margin-left: auto;
	display: block;
	margin-top: 10px;
}

.generate-page h2 {
	margin-bottom: 10px;
}

.generate-page hr {
	width: 50%;
}

.editor-container {
	margin-right: 20px;
}

.generator-container {
	margin-left: 20px;
}