::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-thumb {
    background-color: #9AE19D;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #86c48a;
}

::-webkit-scrollbar-thumb:active {
	background-color: #75ab7a;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent url('https://res.cloudinary.com/dymfw7qfi/image/upload/v1585831877/transparent.png') repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent url('https://res.cloudinary.com/dymfw7qfi/image/upload/v1585831877/transparent.png') repeat-y !important;
}

body {
  overflow: overlay;
  overflow-x: hidden;
}