/*
Colors
Dark: 2C302E;
Medium: 474A48;
Light: 909590;
White: FDFDFF;
Light Green: 9AE19D;
Medium Green: 86c48a;
Dark Green: 537A5A;
Tan: dcb29c;
Yellow: f8cf6a;
*/

/*Custom scrollbar*/


body {
	max-width: 100vw;
	font-family: 'Nunito', sans-serif;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	color: #2C302E;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}

.display-inline {
  display: inline;
}

.home-page {
	padding: 3vh 20vw;
}

.home-page h1 {
	text-align: center;
}

.home-page p {
	text-align: center;
}

.generate-page {
	padding: 20px;
	font-size: 1.5rem;
	line-height: 200%;
}

.content-editable {
	display: inline-block;
	min-width: 1rem;
}

.dropdown {
	display: inline-block;
	padding: 0.5rem;
	border-radius: 0.7rem;
	font-weight: bold;
	background-color: #9AE19D;
}

.display-relative {
	position: relative;
}

.dropdown .display-relative select {
	position: absolute !important;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.3s;
}

.dropdown .display-relative select:hover {
	opacity: 1;
}

.navbar {
	padding: 20px;
	background-color: #9AE19D;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar .icon-title {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.navbar .icon-title {
	color: #2C302E !important;
	text-decoration: none;

}

.navbar img {
	height: 2rem;
}

.navbar .icon-title h3 {
	margin: 0;
	margin-left: 1rem;
}

.navbar .links {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.navbar .links a {
	color: #2C302E;
	text-decoration: none;
	cursor: pointer;
}

.navbar .links a:hover {
	color: #537A5A !important;
}

.main-content {
	margin: 20px;
}

.footer {
	background: #2C302E;
	color: #FDFDFF;
	margin: 0;
	padding: 5%;
}

.footer .scaling-grid {
	display: grid;
	grid-template-columns: 35% 10% 35%;
	grid-column-gap: 10%;
	align-items: center;
}

.footer .scaling-grid img {
	width: 100%;
}

.footer .scaling-grid .links {
	display: flex;
	justify-content: space-between;
}

.footer .links a {
	color: #FDFDFF;
	text-decoration: underline;
	cursor: pointer;
}

.footer .links a:hover {
	color: #9AE19D !important;
}

.footer .links a:active {
	color: #537A5A !important;
}

.footer .links a:visited {
	color: #dcb29c;
}

.footer .copyright {
	margin-top: 6vh;
	text-align: center;
}

.footer .footer-title {
	text-align: right;
	margin-bottom: 4vh;
}

a {
	color: #537A5A;
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	color: #9AE19D !important;
}


button {
	background-color: #9AE19D;
	color: #2C302E;
	border: none;
	padding: 20px;
	border-radius: 10px;
	font-size: 1.2rem;
	font-weight: bold;
	font-family: "Nunito";
	cursor: pointer;
}

button:hover {
	background-color: #86c48a;
}

button:active {
	background-color: #75ab7a;
}

.generate-button {
	margin: 0 auto;
	margin-top: 10px;
}

.add-button {
	float: right;
}

.hidden {
	visibility: hidden;
	display: none;
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
}
